@import "price-card.scss";

* {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

.page {
  width: 1440px;
  height: 1000px;
  background: #141b1c;
  display: flex;
  justify-content: center;
  padding: 129px 135px;
}
