.price-card {
  position: relative;
  overflow: hidden;
  width: 380px;
  height: 770px;
  background-color: #334247;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
  margin-top: 112px;
  margin-bottom: 118px;

  margin-right: 15px;

  &:last-child {
    margin-right: 0px;
  }

  &__title-block {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 36px;
  }

  &__title {
    display: inline-block;
  }

  &__header {
    margin: 0;
    font-weight: bold;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
    color: #ffffff;
  }

  &__subtitle {
    display: block;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
  }

  &__popular {
    position: absolute;
    width: 147px;
    height: 25px;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    background-color: #dc3f45;
    top: 31px;
    right: -29px;
    transform: rotate(45deg);
  }

  &__price {
    width: 380px;
    height: 104px;
    padding: 18px 110px 19px 110px;
    background-color: #5bb189;
    font-weight: bold;
    font-size: 55px;
    line-height: 67px;
    text-align: center;
    color: #ffffff;

    &_blue {
      background-color: #3a6ba5;
    }

    &_red {
      background-color: #ec632a;
    }
  }

  &__description {
    display: block;
    margin: 0;
    margin: 39px 26px 42px 26px;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
  }

  &__options-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__options-item {
    display: flex;
    width: 380px;
    height: 50px;

    &:nth-child(odd) {
      background-color: #2a3438;
    }
  }

  &__icon {
    margin: 19px 21px 18px 22px;
    width: 15px;
    height: 13px;
  }

  &__item-text {
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
  }

  &__order-btn {
    display: inline-block;
    margin: 37px 113px 42px 112px;
    width: 154px;
    height: 40px;
    background-color: #5bb189;
    border-radius: 20px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #ffffff;

    border: none;

    &_blue {
      background-color: #3a6ba5;
    }

    &_red {
      background-color: #ec632a;
    }
  }
}
